body, html{
    margin: 0%;
    padding: 0%;
}
/*---------------------------------------------DECLARACION DE FUENTES DESCARGADAS---------------------------------------------------*/
@font-face {
    font-family: Menu;
    src: url(../fonts/One\ Slice.otf);
}
@font-face {
    font-family: Titular;
    src: url(../fonts/Dead\ Revolution.otf);
}
@font-face {
    font-family: vogue;
    src: url(../fonts/Vogue.ttf);
}
@font-face {
    font-family: gishella;
    src: url(../fonts/Gishella\ Morely.ttf);
}
@font-face {
    font-family: insanibu;
    src: url(../fonts/Insanibu.ttf);
}
@font-face {
    font-family: night;
    src: url(../fonts/NightHuntDemo.ttf);
}
/*--------------------------------------------------MENU--------------------------------------------------------*/
#menu ul li{
    width: 100%;
    font-family: Menu;
    font-size: 30px;
    margin-top: 1%;
    text-align: center;
}
#menu ul{
    display: flex;
    list-style:none;
    padding: 1%;
}
#menu ul a {
  display:block;
  color: burlywood;
  text-decoration: none;
}
#menu ul li {
  position:relative;
}
#menu ul li:hover{
    border-bottom: 2px solid olivedrab;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
#menu ul ul {
  display:none;
  position:absolute;
}
#menu ul li:hover > ul {
  display:block;
}
/*------------------------------------------------------------------------------------FONDO ANIMADO----------------------------------------------------------------------------------------*/
.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #000000, #30313d);
    position: relative;
    overflow: hidden;
}

/* burbujas */

.burbujas{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbujas:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbujas:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbujas:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbujas:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbujas:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbujas:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbujas:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbujas:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

/*---------------------------------------------------ANIMACIONES DEL FONDO DE BURBUJAS-----------------------------------------------------*/
@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
/*---------------------------------------------------------------------------RESPONSIVE---------------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width:800px){
    .Inicio img{
        display: flex;
        position: relative;
        margin-top: -18%;
        margin-left: 50%;
    }
} 